#chboard {
	text-align: center;
}

.bl {
	width: 50px;
	height: 50px;
	background-color: black;
	color: white;
}
.wh {
	width: 50px;
	height: 50px;
	background-color: white;
}

.chosen {
	background-color: yellow !important;
}

.chosenbl {
	background-color: blue !important;
}

.movedTo {
	background-color: green !important;
}